root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# C# configuration - https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
[*.cs]
indent_style = tab
indent_size = 2
max_line_length = 200
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = never
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
